<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/tu1.jpg" class="w-100" alt="picture">
    </div>
    <div class="carousel-item">
      <img src="/assets/tu2.jpg" class="d-block w-100" alt="picture">
    </div>
    <div class="carousel-item">
      <img src="/assets/tu2.jpg" class="d-block w-100" alt="picture">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 mt-3">
  <% @rooms.each do |room| %>
    <div class="col">
      <div class="card border-0">
        <%= link_to room do %>
          <img src="https://kenh14cdn.com/203336854389633024/2022/5/17/photo-1-1652748013972183944163.jpg" class="card-img-top rounded" alt="...">
        <% end %>
        <div class="card-body py-1 px-0">
          <div class="text-muted text-capitalize" style="font-size: 14px;"><%= "#{room.room_type.name}" %></div>
          <div class="text-truncate text-capitalize"><%= room.name %></div>
          <div class="fw-bold" style="font-size: 14px;"><%=  number_with_delimiter(room.price)%></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
