<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

  <div class="row justify-content-around">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <% if provider.to_s == 'facebook' %>
          <div class="btn btn-dark col-md-5" style="background-color: #dd4b39;">
          <i class="bi bi-facebook"></i><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn' %><br />
          </div>
        <% elsif provider.to_s == 'google_oauth2' %>
          <div class="btn btn-dark col-md-5" style="background-color: #3b5998;">
          <i class="bi bi-google"></i><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn' %><br />
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
    